body {
  margin:0px;
  background-color:rgba(239, 239, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1795 {
  position:absolute;
  left:0px;
  top:64px;
  width:376px;
  height:604px;
  overflow:hidden;
}
#u1795_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1795_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1796 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2496px;
  overflow:hidden;
  touch-action:none;
}
#u1796_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2496px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
}
#u1796_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1797 {
  position:absolute;
  left:0px;
  top:992px;
}
#u1797_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1797_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:934px;
}
#u1798 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:933px;
}
#u1799 {
  position:absolute;
  left:2px;
  top:458px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:546px;
}
#u1800 {
  position:absolute;
  left:13px;
  top:51px;
  width:351px;
  height:546px;
}
#u1801 {
  position:absolute;
  left:2px;
  top:265px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1802 {
  position:absolute;
  left:0px;
  top:628px;
}
#u1802_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1802_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:250px;
}
#u1803 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:250px;
}
#u1804 {
  position:absolute;
  left:2px;
  top:117px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:486px;
}
#u1805 {
  position:absolute;
  left:0px;
  top:250px;
  width:375px;
  height:485px;
}
#u1806 {
  position:absolute;
  left:2px;
  top:234px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:34px;
}
#u1807 {
  position:absolute;
  left:0px;
  top:330px;
  width:375px;
  height:33px;
  font-size:18px;
  color:#1E89FE;
  text-align:left;
}
#u1808 {
  position:absolute;
  left:10px;
  top:4px;
  width:363px;
  word-wrap:break-word;
}
#u1809 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u1810 {
  position:absolute;
  left:11px;
  top:357px;
  width:62px;
  height:21px;
  font-size:13px;
  color:#CCCCCC;
}
#u1811 {
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u1812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:2px;
}
#u1812 {
  position:absolute;
  left:19px;
  top:367px;
  width:47px;
  height:1px;
}
#u1813 {
  position:absolute;
  left:2px;
  top:-8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:34px;
}
#u1814 {
  position:absolute;
  left:267px;
  top:351px;
  width:108px;
  height:33px;
  color:#CCCCCC;
}
#u1815 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u1816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:81px;
}
#u1816 {
  position:absolute;
  left:0px;
  top:250px;
  width:376px;
  height:80px;
  line-height:24px;
}
#u1817 {
  position:absolute;
  left:10px;
  top:4px;
  width:356px;
  word-wrap:break-word;
}
#u1818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:53px;
}
#u1818 {
  position:absolute;
  left:28px;
  top:643px;
  width:347px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#11161C;
  line-height:24px;
}
#u1819 {
  position:absolute;
  left:0px;
  top:2px;
  width:347px;
  word-wrap:break-word;
}
#u1820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u1820 {
  position:absolute;
  left:11px;
  top:651px;
  width:7px;
  height:14px;
}
#u1821 {
  position:absolute;
  left:2px;
  top:-1px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u1822 {
  position:absolute;
  left:11px;
  top:674px;
  width:7px;
  height:14px;
}
#u1823 {
  position:absolute;
  left:2px;
  top:-1px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:174px;
}
#u1824 {
  position:absolute;
  left:1229px;
  top:1100px;
  width:351px;
  height:173px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u1825 {
  position:absolute;
  left:0px;
  top:16px;
  width:351px;
  word-wrap:break-word;
}
#u1826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:251px;
}
#u1826 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:250px;
}
#u1827 {
  position:absolute;
  left:2px;
  top:117px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:29px;
}
#u1828 {
  position:absolute;
  left:0px;
  top:541px;
  width:375px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
  text-align:right;
}
#u1829 {
  position:absolute;
  left:0px;
  top:6px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1830 {
  position:absolute;
  left:153px;
  top:225px;
  width:10px;
  height:10px;
}
#u1831 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1832 {
  position:absolute;
  left:183px;
  top:225px;
  width:10px;
  height:10px;
}
#u1833 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u1834 {
  position:absolute;
  left:211px;
  top:225px;
  width:10px;
  height:10px;
}
#u1835 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:98px;
}
#u1836 {
  position:absolute;
  left:0px;
  top:384px;
  width:375px;
  height:97px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1837 {
  position:absolute;
  left:0px;
  top:40px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
}
#u1838 {
  position:absolute;
  left:50px;
  top:392px;
  width:69px;
  height:20px;
  font-size:12px;
  color:#1E89FE;
}
#u1839 {
  position:absolute;
  left:2px;
  top:3px;
  width:65px;
  word-wrap:break-word;
}
#u1840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
}
#u1840 {
  position:absolute;
  left:119px;
  top:392px;
  width:198px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u1841 {
  position:absolute;
  left:10px;
  top:4px;
  width:188px;
  word-wrap:break-word;
}
#u1842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
}
#u1842 {
  position:absolute;
  left:0px;
  top:392px;
  width:73px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1843 {
  position:absolute;
  left:10px;
  top:2px;
  width:63px;
  word-wrap:break-word;
}
#u1844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u1844 {
  position:absolute;
  left:331px;
  top:12px;
  width:33px;
  height:30px;
}
#u1845 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:29px;
  height:25px;
}
#u1846 {
  position:absolute;
  left:335px;
  top:16px;
  width:26px;
  height:22px;
}
#u1846_img.selected {
}
#u1846.selected {
}
#u1847 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:61px;
}
#u1848 {
  position:absolute;
  left:0px;
  top:481px;
  width:375px;
  height:60px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#666666;
}
#u1849 {
  position:absolute;
  left:0px;
  top:22px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
}
#u1850 {
  position:absolute;
  left:0px;
  top:489px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
}
#u1851 {
  position:absolute;
  left:10px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u1852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:59px;
}
#u1852 {
  position:absolute;
  left:73px;
  top:483px;
  width:291px;
  height:58px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
  line-height:20px;
}
#u1853 {
  position:absolute;
  left:10px;
  top:9px;
  width:281px;
  word-wrap:break-word;
}
#u1854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:29px;
}
#u1854 {
  position:absolute;
  left:0px;
  top:541px;
  width:109px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
  text-align:right;
}
#u1855 {
  position:absolute;
  left:0px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u1856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:29px;
}
#u1856 {
  position:absolute;
  left:109px;
  top:541px;
  width:84px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
  text-align:right;
}
#u1857 {
  position:absolute;
  left:0px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u1858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:29px;
}
#u1858 {
  position:absolute;
  left:193px;
  top:541px;
  width:107px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
  text-align:right;
}
#u1859 {
  position:absolute;
  left:0px;
  top:6px;
  width:107px;
  word-wrap:break-word;
}
#u1860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1860 {
  position:absolute;
  left:17px;
  top:547px;
  width:17px;
  height:17px;
}
#u1861 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1862 {
  position:absolute;
  left:134px;
  top:547px;
  width:17px;
  height:17px;
}
#u1863 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u1864 {
  position:absolute;
  left:221px;
  top:547px;
  width:17px;
  height:17px;
}
#u1865 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
}
#u1866 {
  position:absolute;
  left:150px;
  top:590px;
  width:75px;
  height:33px;
}
#u1867 {
  position:absolute;
  left:0px;
  top:6px;
  width:75px;
  white-space:nowrap;
}
#u1868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u1868 {
  position:absolute;
  left:114px;
  top:606px;
  width:20px;
  height:1px;
}
#u1869 {
  position:absolute;
  left:2px;
  top:-8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:2px;
}
#u1870 {
  position:absolute;
  left:235px;
  top:606px;
  width:20px;
  height:1px;
}
#u1871 {
  position:absolute;
  left:2px;
  top:-8px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:11px;
}
#u1872 {
  position:absolute;
  left:0px;
  top:735px;
  width:375px;
  height:10px;
}
#u1873 {
  position:absolute;
  left:2px;
  top:-3px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:235px;
}
#u1874 {
  position:absolute;
  left:854px;
  top:1924px;
  width:375px;
  height:234px;
}
#u1875 {
  position:absolute;
  left:2px;
  top:109px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u1876 {
  position:absolute;
  left:1023px;
  top:1924px;
  width:38px;
  height:33px;
}
#u1877 {
  position:absolute;
  left:0px;
  top:6px;
  width:38px;
  white-space:nowrap;
}
#u1878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:2px;
}
#u1878 {
  position:absolute;
  left:966px;
  top:1940px;
  width:30px;
  height:1px;
}
#u1879 {
  position:absolute;
  left:2px;
  top:-8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:2px;
}
#u1880 {
  position:absolute;
  left:1091px;
  top:1940px;
  width:30px;
  height:1px;
}
#u1881 {
  position:absolute;
  left:2px;
  top:-8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u1882 {
  position:absolute;
  left:869px;
  top:1973px;
  width:19px;
  height:21px;
}
#u1883 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u1884 {
  position:absolute;
  left:898px;
  top:1976px;
  width:89px;
  height:18px;
}
#u1885 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
}
#u1886 {
  position:absolute;
  left:1062px;
  top:1976px;
  width:83px;
  height:18px;
}
#u1887 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u1888 {
  position:absolute;
  left:1028px;
  top:1972px;
  width:24px;
  height:23px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u1890 {
  position:absolute;
  left:885px;
  top:2026px;
  width:47px;
  height:47px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u1892 {
  position:absolute;
  left:963px;
  top:2026px;
  width:81px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1893 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
}
#u1894 {
  position:absolute;
  left:963px;
  top:2054px;
  width:112px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1895 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u1896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:23px;
}
#u1896 {
  position:absolute;
  left:885px;
  top:2083px;
  width:305px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1897 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u1898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
}
#u1898 {
  position:absolute;
  left:1121px;
  top:2125px;
  width:87px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E89FE;
}
#u1899 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u1900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u1900 {
  position:absolute;
  left:869px;
  top:2005px;
  width:346px;
  height:1px;
}
#u1901 {
  position:absolute;
  left:2px;
  top:-8px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u1902 {
  position:absolute;
  left:869px;
  top:1965px;
  width:346px;
  height:1px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:-8px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u1904 {
  position:absolute;
  left:85px;
  top:337px;
  width:24px;
  height:18px;
  font-size:12px;
  color:#FFFFFF;
}
#u1905 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u1906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u1906 {
  position:absolute;
  left:115px;
  top:337px;
  width:24px;
  height:18px;
  font-size:12px;
  color:#FFFFFF;
}
#u1907 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u1908 {
  position:absolute;
  left:146px;
  top:337px;
  width:36px;
  height:18px;
  font-size:12px;
  color:#FFFFFF;
}
#u1909 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  word-wrap:break-word;
}
#u1910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
}
#u1910 {
  position:absolute;
  left:50px;
  top:422px;
  width:69px;
  height:20px;
  font-size:12px;
  color:#1E89FE;
}
#u1911 {
  position:absolute;
  left:2px;
  top:3px;
  width:65px;
  word-wrap:break-word;
}
#u1912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
}
#u1912 {
  position:absolute;
  left:119px;
  top:420px;
  width:198px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u1913 {
  position:absolute;
  left:10px;
  top:4px;
  width:188px;
  word-wrap:break-word;
}
#u1914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:21px;
}
#u1914 {
  position:absolute;
  left:50px;
  top:451px;
  width:69px;
  height:20px;
  font-size:12px;
  color:#1E89FE;
}
#u1915 {
  position:absolute;
  left:2px;
  top:3px;
  width:65px;
  word-wrap:break-word;
}
#u1916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
}
#u1916 {
  position:absolute;
  left:119px;
  top:449px;
  width:198px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u1917 {
  position:absolute;
  left:10px;
  top:4px;
  width:188px;
  word-wrap:break-word;
}
#u1918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:5px;
}
#u1918 {
  position:absolute;
  left:346px;
  top:430px;
  width:15px;
  height:4px;
  color:#CCCCCC;
}
#u1919 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:169px;
}
#u1920 {
  position:absolute;
  left:0px;
  top:745px;
  width:375px;
  height:168px;
}
#u1921 {
  position:absolute;
  left:2px;
  top:76px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:34px;
}
#u1922 {
  position:absolute;
  left:152px;
  top:753px;
  width:75px;
  height:33px;
}
#u1923 {
  position:absolute;
  left:0px;
  top:6px;
  width:75px;
  white-space:nowrap;
}
#u1924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:2px;
}
#u1924 {
  position:absolute;
  left:112px;
  top:769px;
  width:30px;
  height:1px;
}
#u1925 {
  position:absolute;
  left:2px;
  top:-8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:2px;
}
#u1926 {
  position:absolute;
  left:237px;
  top:769px;
  width:30px;
  height:1px;
}
#u1927 {
  position:absolute;
  left:2px;
  top:-8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:70px;
}
#u1928 {
  position:absolute;
  left:11px;
  top:797px;
  width:98px;
  height:69px;
}
#u1929 {
  position:absolute;
  left:2px;
  top:26px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:70px;
}
#u1930 {
  position:absolute;
  left:125px;
  top:797px;
  width:98px;
  height:69px;
}
#u1931 {
  position:absolute;
  left:2px;
  top:26px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:70px;
}
#u1932 {
  position:absolute;
  left:237px;
  top:797px;
  width:98px;
  height:69px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:26px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u1934 {
  position:absolute;
  left:109px;
  top:823px;
  width:16px;
  height:18px;
  text-align:center;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u1936 {
  position:absolute;
  left:223px;
  top:823px;
  width:16px;
  height:18px;
  text-align:center;
}
#u1937 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:26px;
}
#u1938 {
  position:absolute;
  left:349px;
  top:820px;
  width:15px;
  height:25px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:193px;
}
#u1940 {
  position:absolute;
  left:0px;
  top:2074px;
  width:375px;
  height:192px;
}
#u1941 {
  position:absolute;
  left:2px;
  top:88px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
}
#u1942 {
  position:absolute;
  left:11px;
  top:876px;
  width:43px;
  height:18px;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
}
#u1944 {
  position:absolute;
  left:125px;
  top:876px;
  width:43px;
  height:18px;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
}
#u1946 {
  position:absolute;
  left:237px;
  top:876px;
  width:35px;
  height:18px;
}
#u1947 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u1948 {
  position:absolute;
  left:169px;
  top:2074px;
  width:38px;
  height:33px;
}
#u1949 {
  position:absolute;
  left:0px;
  top:6px;
  width:38px;
  white-space:nowrap;
}
#u1950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:2px;
}
#u1950 {
  position:absolute;
  left:112px;
  top:2090px;
  width:30px;
  height:1px;
}
#u1951 {
  position:absolute;
  left:2px;
  top:-8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:2px;
}
#u1952 {
  position:absolute;
  left:237px;
  top:2090px;
  width:30px;
  height:1px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:-8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:122px;
}
#u1954 {
  position:absolute;
  left:11px;
  top:2123px;
  width:171px;
  height:121px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:52px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:122px;
}
#u1956 {
  position:absolute;
  left:192px;
  top:2123px;
  width:171px;
  height:121px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:52px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u1958 {
  position:absolute;
  left:0px;
  top:952px;
  width:125px;
  height:40px;
}
#u1958_img.selected {
}
#u1958.selected {
}
#u1959 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u1960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u1960 {
  position:absolute;
  left:125px;
  top:952px;
  width:125px;
  height:40px;
}
#u1960_img.selected {
}
#u1960.selected {
}
#u1961 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u1962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u1962 {
  position:absolute;
  left:250px;
  top:952px;
  width:125px;
  height:40px;
}
#u1962_img.selected {
}
#u1962.selected {
}
#u1963 {
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u1964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:61px;
}
#u1964 {
  position:absolute;
  left:0px;
  top:607px;
  width:375px;
  height:60px;
}
#u1965 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:43px;
}
#u1966 {
  position:absolute;
  left:163px;
  top:715px;
  width:114px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1967 {
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u1968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:43px;
}
#u1968 {
  position:absolute;
  left:78px;
  top:616px;
  width:283px;
  height:42px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1969 {
  position:absolute;
  left:2px;
  top:10px;
  width:279px;
  word-wrap:break-word;
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1970 {
  position:absolute;
  left:0px;
  top:606px;
  width:375px;
  height:1px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:61px;
}
#u1972 {
  position:absolute;
  left:60px;
  top:607px;
  width:1px;
  height:60px;
}
#u1973 {
  position:absolute;
  left:2px;
  top:22px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u1974 {
  position:absolute;
  left:8px;
  top:616px;
  width:42px;
  height:42px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1976 {
  position:absolute;
  left:37px;
  top:622px;
  width:6px;
  height:6px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1978 {
  position:fixed;
  left:50%;
  margin-left:-187.5px;
  bottom:0px;
  visibility:hidden;
}
#u1978_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1978_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:143px;
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:143px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:64px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:57px;
}
#u1981 {
  position:absolute;
  left:0px;
  top:143px;
  width:375px;
  height:56px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#2C3038;
}
#u1982 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1985 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1987 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u1988 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u1991 {
  position:absolute;
  left:10px;
  top:32px;
  width:12px;
  height:20px;
  font-size:14px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:45px;
}
#u1993 {
  position:absolute;
  left:26px;
  top:20px;
  width:30px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1994 {
  position:absolute;
  left:0px;
  top:12px;
  width:30px;
  word-wrap:break-word;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1995 {
  position:absolute;
  left:60px;
  top:20px;
  width:44px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1996 {
  position:absolute;
  left:0px;
  top:12px;
  width:44px;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u1997 {
  position:absolute;
  left:128px;
  top:20px;
  width:120px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1998 {
  position:absolute;
  left:0px;
  top:11px;
  width:120px;
  word-wrap:break-word;
}
#u1999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:7px;
}
#u1999 {
  position:absolute;
  left:336px;
  top:39px;
  width:20px;
  height:6px;
}
#u2000 {
  position:absolute;
  left:2px;
  top:-5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u2002 {
  position:absolute;
  left:330px;
  top:234px;
  width:45px;
  height:45px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
}
#u2004 {
  position:absolute;
  left:339px;
  top:246px;
  width:26px;
  height:20px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2006 {
  position:absolute;
  left:330px;
  top:279px;
  visibility:hidden;
}
#u2006_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2006_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:121px;
}
#u2008 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:120px;
}
#u2009 {
  position:absolute;
  left:2px;
  top:52px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:41px;
}
#u2010 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
  color:#FFFFFF;
  text-align:center;
}
#u2011 {
  position:absolute;
  left:0px;
  top:11px;
  width:45px;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:41px;
}
#u2012 {
  position:absolute;
  left:0px;
  top:40px;
  width:45px;
  height:40px;
  color:#FFFFFF;
  text-align:center;
}
#u2013 {
  position:absolute;
  left:0px;
  top:11px;
  width:45px;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:41px;
}
#u2014 {
  position:absolute;
  left:0px;
  top:80px;
  width:45px;
  height:40px;
  color:#FFFFFF;
  text-align:center;
}
#u2015 {
  position:absolute;
  left:0px;
  top:11px;
  width:45px;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u2016 {
  position:absolute;
  left:9px;
  top:39px;
  width:26px;
  height:1px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:2px;
}
#u2018 {
  position:absolute;
  left:9px;
  top:80px;
  width:26px;
  height:1px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:-8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2020 {
  position:fixed;
  left:50%;
  margin-left:-187.5px;
  bottom:0px;
  visibility:hidden;
}
#u2020_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2020_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:49px;
}
#u2021 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:48px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:306px;
}
#u2023 {
  position:absolute;
  left:0px;
  top:48px;
  width:375px;
  height:305px;
}
#u2024 {
  position:absolute;
  left:2px;
  top:144px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u2025 {
  position:absolute;
  left:20px;
  top:15px;
  width:59px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2026 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2027 {
  position:absolute;
  left:339px;
  top:13px;
  width:23px;
  height:23px;
  color:#FFFFFF;
}
#u2028 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2029 {
  position:absolute;
  left:38px;
  top:66px;
  width:24px;
  height:24px;
}
#u2029_img.selected {
}
#u2029.selected {
}
#u2030 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:65px;
}
#u2031 {
  position:absolute;
  left:93px;
  top:48px;
  width:97px;
  height:64px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2032 {
  position:absolute;
  left:0px;
  top:12px;
  width:97px;
  white-space:nowrap;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u2033 {
  position:absolute;
  left:20px;
  top:111px;
  width:342px;
  height:1px;
}
#u2034 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:65px;
}
#u2035 {
  position:absolute;
  left:93px;
  top:112px;
  width:81px;
  height:64px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2036 {
  position:absolute;
  left:0px;
  top:12px;
  width:81px;
  white-space:nowrap;
}
#u2037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:65px;
}
#u2037 {
  position:absolute;
  left:93px;
  top:176px;
  width:97px;
  height:64px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2038 {
  position:absolute;
  left:0px;
  top:12px;
  width:97px;
  white-space:nowrap;
}
#u2039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u2039 {
  position:absolute;
  left:20px;
  top:176px;
  width:342px;
  height:1px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2041 {
  position:absolute;
  left:38px;
  top:132px;
  width:24px;
  height:24px;
}
#u2041_img.selected {
}
#u2041.selected {
}
#u2042 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2043 {
  position:absolute;
  left:38px;
  top:196px;
  width:24px;
  height:24px;
}
#u2043_img.selected {
}
#u2043.selected {
}
#u2044 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:49px;
}
#u2045 {
  position:absolute;
  left:146px;
  top:282px;
  width:216px;
  height:48px;
  font-size:16px;
  color:#FFFFFF;
}
#u2046 {
  position:absolute;
  left:2px;
  top:14px;
  width:212px;
  word-wrap:break-word;
}
#u2047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2047 {
  position:absolute;
  left:20px;
  top:292px;
  width:29px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u2047_img.mouseDown {
}
#u2047.mouseDown {
}
#u2048 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u2049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2049 {
  position:absolute;
  left:89px;
  top:292px;
  width:29px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#A1A1A1;
}
#u2049_img.mouseDown {
}
#u2049.mouseDown {
}
#u2050 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:30px;
}
#u2051 {
  position:absolute;
  left:49px;
  top:292px;
  width:40px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C9C9C9;
  text-align:center;
}
#u2052 {
  position:absolute;
  left:0px;
  top:5px;
  width:40px;
  word-wrap:break-word;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:2px;
}
#u2053 {
  position:absolute;
  left:20px;
  top:250px;
  width:342px;
  height:1px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:-8px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:43px;
}
#u2055 {
  position:absolute;
  left:806px;
  top:22px;
  width:129px;
  height:42px;
}
#u2056 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1254px;
}
#u2057 {
  position:absolute;
  left:781px;
  top:0px;
  width:1px;
  height:1253px;
}
#u2058 {
  position:absolute;
  left:2px;
  top:618px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:776px;
}
#u2059 {
  position:absolute;
  left:806px;
  top:92px;
  width:484px;
  height:775px;
  font-size:14px;
  color:#1E1E1E;
  line-height:28px;
}
#u2060 {
  position:absolute;
  left:0px;
  top:0px;
  width:484px;
  word-wrap:break-word;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:69px;
}
#u2061 {
  position:absolute;
  left:799px;
  top:808px;
  width:225px;
  height:68px;
  opacity:0.8;
  color:#FFFFFF;
}
#u2062 {
  position:absolute;
  left:2px;
  top:19px;
  width:221px;
  word-wrap:break-word;
}
