body {
  margin:0px;
  background-color:rgba(239, 239, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5820 {
  position:absolute;
  left:0px;
  top:64px;
  width:377px;
  height:604px;
  overflow:hidden;
}
#u5820_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:604px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5820_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5821 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:604px;
  overflow:hidden;
}
#u5821_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:604px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5821_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:360px;
}
#u5822 {
  position:absolute;
  left:0px;
  top:308px;
  width:375px;
  height:359px;
}
#u5823 {
  position:absolute;
  left:2px;
  top:172px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:97px;
}
#u5824 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:96px;
}
#u5825 {
  position:absolute;
  left:2px;
  top:40px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:202px;
}
#u5826 {
  position:absolute;
  left:0px;
  top:96px;
  width:375px;
  height:201px;
}
#u5827 {
  position:absolute;
  left:2px;
  top:92px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u5828 {
  position:absolute;
  left:20px;
  top:96px;
  width:84px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
  line-height:24px;
}
#u5829 {
  position:absolute;
  left:0px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u5830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u5830 {
  position:absolute;
  left:0px;
  top:136px;
  width:376px;
  height:1px;
}
#u5831 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u5832 {
  position:absolute;
  left:88px;
  top:142px;
  width:200px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5832_img.selected {
}
#u5832.selected {
}
#u5833 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u5834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:41px;
}
#u5834 {
  position:absolute;
  left:0px;
  top:137px;
  width:78px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u5835 {
  position:absolute;
  left:0px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u5836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:41px;
}
#u5836 {
  position:absolute;
  left:0px;
  top:177px;
  width:78px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u5837 {
  position:absolute;
  left:0px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u5838_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:65px;
  height:65px;
}
#u5838 {
  position:absolute;
  left:20px;
  top:18px;
  width:60px;
  height:60px;
}
#u5839 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:59px;
}
#u5840 {
  position:absolute;
  left:104px;
  top:19px;
  width:136px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u5841 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u5842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u5842 {
  position:absolute;
  left:20px;
  top:308px;
  width:84px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#515151;
  line-height:24px;
}
#u5843 {
  position:absolute;
  left:0px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u5844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u5844 {
  position:absolute;
  left:0px;
  top:217px;
  width:80px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u5845 {
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u5846 {
  position:absolute;
  left:300px;
  top:96px;
  width:77px;
  height:41px;
  overflow:hidden;
}
#u5846_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:41px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5846_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:41px;
}
#u5847 {
  position:absolute;
  left:20px;
  top:0px;
  width:44px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:center;
  line-height:24px;
}
#u5848 {
  position:absolute;
  left:0px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u5849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u5849 {
  position:absolute;
  left:0px;
  top:10px;
  width:20px;
  height:21px;
}
#u5850 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5846_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:41px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5846_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:41px;
}
#u5851 {
  position:absolute;
  left:20px;
  top:0px;
  width:44px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#47B34F;
  text-align:center;
  line-height:24px;
}
#u5852 {
  position:absolute;
  left:0px;
  top:8px;
  width:44px;
  word-wrap:break-word;
}
#u5853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u5853 {
  position:absolute;
  left:0px;
  top:298px;
  width:376px;
  height:1px;
}
#u5854 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u5855 {
  position:absolute;
  left:0px;
  top:257px;
  width:80px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u5856 {
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u5857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u5857 {
  position:absolute;
  left:88px;
  top:222px;
  width:200px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5857_img.selected {
}
#u5857.selected {
}
#u5858 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u5859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u5859 {
  position:absolute;
  left:88px;
  top:262px;
  width:200px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5859_img.selected {
}
#u5859.selected {
}
#u5860 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u5861 {
  position:absolute;
  left:88px;
  top:182px;
}
#u5861_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5861_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u5862 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5863 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u5861_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u5861_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5864 {
  position:absolute;
  left:0px;
  top:7px;
  width:60px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5865 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u5864_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5866 {
  position:absolute;
  left:50px;
  top:7px;
  width:60px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5867 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u5866_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5868 {
  position:absolute;
  left:100px;
  top:7px;
  width:60px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5869 {
  position:absolute;
  left:16px;
  top:0px;
  width:42px;
  word-wrap:break-word;
}
#u5868_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u5870 {
  position:absolute;
  left:0px;
  top:348px;
  width:80px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u5871 {
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u5872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:41px;
}
#u5872 {
  position:absolute;
  left:88px;
  top:348px;
  width:202px;
  height:40px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5872_img.selected {
}
#u5872.selected {
}
#u5873 {
  position:absolute;
  left:2px;
  top:12px;
  width:198px;
  word-wrap:break-word;
}
#u5874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u5874 {
  position:absolute;
  left:0px;
  top:388px;
  width:80px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u5875 {
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u5876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u5876 {
  position:absolute;
  left:88px;
  top:388px;
  width:200px;
  height:40px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5876_img.selected {
}
#u5876.selected {
}
#u5877 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u5878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u5878 {
  position:absolute;
  left:0px;
  top:428px;
  width:80px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u5879 {
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u5880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:41px;
}
#u5880 {
  position:absolute;
  left:88px;
  top:428px;
  width:200px;
  height:40px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5880_img.selected {
}
#u5880.selected {
}
#u5881 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u5882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u5882 {
  position:absolute;
  left:0px;
  top:348px;
  width:376px;
  height:1px;
}
#u5883 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:41px;
}
#u5884 {
  position:absolute;
  left:0px;
  top:468px;
  width:80px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
#u5885 {
  position:absolute;
  left:0px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u5886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:31px;
}
#u5886 {
  position:absolute;
  left:88px;
  top:473px;
  width:200px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5886_img.selected {
}
#u5886.selected {
}
#u5887 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u5888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:41px;
}
#u5888 {
  position:absolute;
  left:300px;
  top:388px;
  width:75px;
  height:40px;
  font-size:12px;
  color:#0099FF;
  text-align:left;
}
#u5888_img.selected {
}
#u5888.selected {
}
#u5889 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u5890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:41px;
}
#u5890 {
  position:absolute;
  left:300px;
  top:257px;
  width:75px;
  height:40px;
  font-size:12px;
  color:#0099FF;
  text-align:left;
}
#u5890_img.selected {
}
#u5890.selected {
}
#u5891 {
  position:absolute;
  left:2px;
  top:12px;
  width:71px;
  word-wrap:break-word;
}
#u5892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
}
#u5892 {
  position:absolute;
  left:223px;
  top:271px;
  width:49px;
  height:13px;
  font-size:10px;
}
#u5893 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:118px;
}
#u5894 {
  position:absolute;
  left:479px;
  top:78px;
  width:300px;
  height:117px;
}
#u5895 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u5896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:33px;
}
#u5896 {
  position:absolute;
  left:280px;
  top:27px;
  width:76px;
  height:32px;
  color:#FFFFFF;
}
#u5897 {
  position:absolute;
  left:2px;
  top:8px;
  width:72px;
  word-wrap:break-word;
}
#u5899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u5899 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u5900 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u5901 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u5902 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u5903 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
}
#u5904 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u5906 {
  position:absolute;
  left:10px;
  top:32px;
  width:12px;
  height:20px;
  font-size:14px;
}
#u5907 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:45px;
}
#u5908 {
  position:absolute;
  left:26px;
  top:20px;
  width:30px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5909 {
  position:absolute;
  left:0px;
  top:12px;
  width:30px;
  word-wrap:break-word;
}
#u5910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u5910 {
  position:absolute;
  left:60px;
  top:20px;
  width:44px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u5911 {
  position:absolute;
  left:0px;
  top:12px;
  width:44px;
  word-wrap:break-word;
}
#u5912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u5912 {
  position:absolute;
  left:128px;
  top:20px;
  width:120px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5913 {
  position:absolute;
  left:0px;
  top:11px;
  width:120px;
  word-wrap:break-word;
}
#u5914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:7px;
}
#u5914 {
  position:absolute;
  left:336px;
  top:39px;
  width:20px;
  height:6px;
}
#u5915 {
  position:absolute;
  left:2px;
  top:-5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5916 {
  position:absolute;
  left:53px;
  top:275px;
  visibility:hidden;
}
#u5916_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5916_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:129px;
}
#u5917 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:128px;
}
#u5918 {
  position:absolute;
  left:2px;
  top:56px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u5919 {
  position:absolute;
  left:0px;
  top:86px;
  width:270px;
  height:1px;
}
#u5920 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:44px;
}
#u5921 {
  position:absolute;
  left:136px;
  top:85px;
  width:134px;
  height:43px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E89FE;
  text-align:center;
}
#u5922 {
  position:absolute;
  left:0px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u5923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:82px;
}
#u5923 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:81px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u5924 {
  position:absolute;
  left:0px;
  top:12px;
  width:270px;
  word-wrap:break-word;
}
#u5925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:44px;
}
#u5925 {
  position:absolute;
  left:1px;
  top:86px;
  width:134px;
  height:43px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E89FE;
  text-align:center;
}
#u5926 {
  position:absolute;
  left:0px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
