body {
  margin:0px;
  background-color:rgba(239, 239, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u5340 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u5341 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u5342 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u5343 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u5344 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
}
#u5345 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5346 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u5347 {
  position:absolute;
  left:10px;
  top:32px;
  width:12px;
  height:20px;
  font-size:14px;
}
#u5348 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:45px;
}
#u5349 {
  position:absolute;
  left:26px;
  top:20px;
  width:30px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5350 {
  position:absolute;
  left:0px;
  top:12px;
  width:30px;
  word-wrap:break-word;
}
#u5351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u5351 {
  position:absolute;
  left:60px;
  top:20px;
  width:44px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u5352 {
  position:absolute;
  left:0px;
  top:12px;
  width:44px;
  word-wrap:break-word;
}
#u5353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u5353 {
  position:absolute;
  left:128px;
  top:20px;
  width:120px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u5354 {
  position:absolute;
  left:0px;
  top:11px;
  width:120px;
  word-wrap:break-word;
}
#u5355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:7px;
}
#u5355 {
  position:absolute;
  left:336px;
  top:39px;
  width:20px;
  height:6px;
}
#u5356 {
  position:absolute;
  left:2px;
  top:-5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:604px;
}
#u5357 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:603px;
}
#u5358 {
  position:absolute;
  left:2px;
  top:294px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:23px;
}
#u5359 {
  position:absolute;
  left:142px;
  top:195px;
  width:93px;
  height:22px;
  color:#666666;
  text-align:center;
}
#u5360 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u5361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:36px;
}
#u5361 {
  position:absolute;
  left:32px;
  top:287px;
  width:290px;
  height:35px;
}
#u5362 {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  word-wrap:break-word;
}
#u5363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:81px;
}
#u5363 {
  position:absolute;
  left:153px;
  top:105px;
  width:69px;
  height:80px;
}
#u5364 {
  position:absolute;
  left:2px;
  top:32px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u5365 {
  position:absolute;
  left:73px;
  top:304px;
  width:18px;
  height:18px;
}
#u5366 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:28px;
}
#u5367 {
  position:absolute;
  left:46px;
  top:345px;
  width:115px;
  height:27px;
}
#u5368 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u5369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:28px;
}
#u5369 {
  position:absolute;
  left:200px;
  top:345px;
  width:115px;
  height:27px;
  color:#1E89FE;
}
#u5370 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u5371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u5371 {
  position:absolute;
  left:145px;
  top:237px;
  width:89px;
  height:18px;
}
#u5372 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
