body {
  margin:0px;
  background-color:rgba(239, 239, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u6076 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6077 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6078 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6079 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u6080 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
}
#u6081 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u6083 {
  position:absolute;
  left:10px;
  top:32px;
  width:12px;
  height:20px;
  font-size:14px;
}
#u6084 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:45px;
}
#u6085 {
  position:absolute;
  left:26px;
  top:20px;
  width:30px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6086 {
  position:absolute;
  left:0px;
  top:12px;
  width:30px;
  word-wrap:break-word;
}
#u6087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u6087 {
  position:absolute;
  left:60px;
  top:20px;
  width:44px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u6088 {
  position:absolute;
  left:0px;
  top:12px;
  width:44px;
  word-wrap:break-word;
}
#u6089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u6089 {
  position:absolute;
  left:128px;
  top:20px;
  width:120px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6090 {
  position:absolute;
  left:0px;
  top:11px;
  width:120px;
  word-wrap:break-word;
}
#u6091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:7px;
}
#u6091 {
  position:absolute;
  left:336px;
  top:39px;
  width:20px;
  height:6px;
}
#u6092 {
  position:absolute;
  left:2px;
  top:-5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u6093 {
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:50px;
  text-align:left;
}
#u6094 {
  position:absolute;
  left:20px;
  top:18px;
  width:353px;
  word-wrap:break-word;
}
#u6095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u6095 {
  position:absolute;
  left:0px;
  top:114px;
  width:375px;
  height:50px;
  text-align:left;
}
#u6096 {
  position:absolute;
  left:20px;
  top:18px;
  width:353px;
  word-wrap:break-word;
}
#u6097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u6097 {
  position:absolute;
  left:14px;
  top:113px;
  width:345px;
  height:1px;
}
#u6098 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u6099 {
  position:absolute;
  left:0px;
  top:174px;
  width:375px;
  height:50px;
  text-align:left;
}
#u6100 {
  position:absolute;
  left:20px;
  top:18px;
  width:353px;
  word-wrap:break-word;
}
#u6101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u6101 {
  position:absolute;
  left:0px;
  top:234px;
  width:375px;
  height:50px;
  text-align:left;
}
#u6102 {
  position:absolute;
  left:20px;
  top:18px;
  width:353px;
  word-wrap:break-word;
}
#u6103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u6103 {
  position:absolute;
  left:0px;
  top:283px;
  width:375px;
  height:50px;
  text-align:left;
}
#u6104 {
  position:absolute;
  left:20px;
  top:18px;
  width:353px;
  word-wrap:break-word;
}
#u6105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:51px;
}
#u6105 {
  position:absolute;
  left:0px;
  top:333px;
  width:375px;
  height:50px;
  text-align:left;
}
#u6106 {
  position:absolute;
  left:20px;
  top:18px;
  width:353px;
  word-wrap:break-word;
}
#u6107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u6107 {
  position:absolute;
  left:14px;
  top:282px;
  width:345px;
  height:1px;
}
#u6108 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u6109 {
  position:absolute;
  left:14px;
  top:333px;
  width:345px;
  height:1px;
}
#u6110 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
