body {
  margin:0px;
  background-color:rgba(239, 239, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u6037 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6038 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6039 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6040 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u6041 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
}
#u6042 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6043 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u6044 {
  position:absolute;
  left:10px;
  top:32px;
  width:12px;
  height:20px;
  font-size:14px;
}
#u6045 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:45px;
}
#u6046 {
  position:absolute;
  left:26px;
  top:20px;
  width:30px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6047 {
  position:absolute;
  left:0px;
  top:12px;
  width:30px;
  word-wrap:break-word;
}
#u6048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u6048 {
  position:absolute;
  left:60px;
  top:20px;
  width:44px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u6049 {
  position:absolute;
  left:0px;
  top:12px;
  width:44px;
  word-wrap:break-word;
}
#u6050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u6050 {
  position:absolute;
  left:128px;
  top:20px;
  width:120px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6051 {
  position:absolute;
  left:0px;
  top:11px;
  width:120px;
  word-wrap:break-word;
}
#u6052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:7px;
}
#u6052 {
  position:absolute;
  left:336px;
  top:39px;
  width:20px;
  height:6px;
}
#u6053 {
  position:absolute;
  left:2px;
  top:-5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:161px;
}
#u6054 {
  position:absolute;
  left:38px;
  top:166px;
  width:300px;
  height:160px;
}
#u6055 {
  position:absolute;
  left:2px;
  top:72px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:67px;
}
#u6056 {
  position:absolute;
  left:38px;
  top:90px;
  width:300px;
  height:66px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.607843137254902);
}
#u6057 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:27px;
}
#u6058 {
  position:absolute;
  left:38px;
  top:340px;
  width:300px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.607843137254902);
}
#u6059 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:41px;
}
#u6060 {
  position:absolute;
  left:38px;
  top:366px;
  width:300px;
  height:40px;
}
#u6061 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:37px;
}
#u6062 {
  position:absolute;
  left:38px;
  top:446px;
  width:300px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6063 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u6064 {
  position:absolute;
  left:41px;
  top:368px;
  width:294px;
  height:36px;
}
#u6064_input {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6065 {
  position:absolute;
  left:41px;
  top:167px;
  width:297px;
  height:159px;
}
#u6065_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:159px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6066 {
  position:absolute;
  left:53px;
  top:275px;
  visibility:hidden;
}
#u6066_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6066_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:129px;
}
#u6067 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:128px;
}
#u6068 {
  position:absolute;
  left:2px;
  top:56px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u6069 {
  position:absolute;
  left:0px;
  top:86px;
  width:270px;
  height:1px;
}
#u6070 {
  position:absolute;
  left:2px;
  top:-8px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:44px;
}
#u6071 {
  position:absolute;
  left:68px;
  top:85px;
  width:134px;
  height:43px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#1E89FE;
  text-align:center;
}
#u6072 {
  position:absolute;
  left:0px;
  top:12px;
  width:134px;
  word-wrap:break-word;
}
#u6073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:82px;
}
#u6073 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:81px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:center;
  line-height:28px;
}
#u6074 {
  position:absolute;
  left:0px;
  top:12px;
  width:270px;
  word-wrap:break-word;
}
