body {
  margin:0px;
  background-color:rgba(239, 239, 244, 1);
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:45px;
}
#u6111 {
  position:absolute;
  left:0px;
  top:64px;
  width:376px;
  height:44px;
}
#u6112 {
  position:absolute;
  left:2px;
  top:14px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u6114 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6115 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6116 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6117 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u6118 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:44px;
}
#u6119 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
#u6121 {
  position:absolute;
  left:10px;
  top:32px;
  width:12px;
  height:20px;
  font-size:14px;
}
#u6122 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:45px;
}
#u6123 {
  position:absolute;
  left:26px;
  top:20px;
  width:30px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6124 {
  position:absolute;
  left:0px;
  top:12px;
  width:30px;
  word-wrap:break-word;
}
#u6125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u6125 {
  position:absolute;
  left:60px;
  top:20px;
  width:44px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u6126 {
  position:absolute;
  left:0px;
  top:12px;
  width:44px;
  word-wrap:break-word;
}
#u6127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:45px;
}
#u6127 {
  position:absolute;
  left:128px;
  top:20px;
  width:120px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u6128 {
  position:absolute;
  left:0px;
  top:11px;
  width:120px;
  word-wrap:break-word;
}
#u6129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:7px;
}
#u6129 {
  position:absolute;
  left:336px;
  top:39px;
  width:20px;
  height:6px;
}
#u6130 {
  position:absolute;
  left:2px;
  top:-5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:302px;
}
#u6131 {
  position:absolute;
  left:1px;
  top:365px;
  width:375px;
  height:302px;
}
#u6132 {
  position:absolute;
  left:2px;
  top:143px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:33px;
}
#u6133 {
  position:absolute;
  left:10px;
  top:70px;
  width:300px;
  height:32px;
  color:#CCCCCC;
  text-align:left;
}
#u6134 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u6135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6135 {
  position:absolute;
  left:20px;
  top:76px;
  width:20px;
  height:20px;
}
#u6136 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:23px;
}
#u6137 {
  position:absolute;
  left:320px;
  top:76px;
  width:45px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#515151;
  text-align:center;
}
#u6138 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u6139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:248px;
}
#u6139 {
  position:absolute;
  left:0px;
  top:118px;
  width:376px;
  height:247px;
}
#u6140 {
  position:absolute;
  left:2px;
  top:116px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:25px;
}
#u6141 {
  position:absolute;
  left:10px;
  top:130px;
  width:296px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u6142 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  word-wrap:break-word;
}
#u6143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u6143 {
  position:absolute;
  left:0px;
  top:164px;
  width:376px;
  height:1px;
}
#u6144 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:41px;
}
.u6146 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AEAEAE;
  line-height:24px;
}
.u6147 {
  position:absolute;
  left:0px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u6145-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:40px;
}
#u6145-2 {
  position:absolute;
  left:0px;
  top:40px;
  width:296px;
  height:40px;
}
#u6145-3 {
  position:absolute;
  left:0px;
  top:80px;
  width:296px;
  height:40px;
}
#u6145 {
  position:absolute;
  left:10px;
  top:179px;
  width:296px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
